* {margin:0;
   padding: 0;
   box-sizing: border-box;
   font-family:'Rubik Mono One', sans-serif;
}

/* Set assenza bullets e posizione fissa a dx */
header ul {
    list-style: none;
    margin: 20px;
    padding: 20px;
    position: fixed;
    right: 0%;
    top: 0%;
    z-index: 2;
}
/* Link allineati */

header ul li {
    display: inline;
} 
/* Set stile dei link iso tasti circolari */
header ul li a {
    text-decoration: none;
    background-color:white;
    color:black;
    padding: 20px 25px;
    margin: 0px 1vh;
    border-radius: 50%;
    font-size: 20px;
    
} 

/* Inizio set delle tre vetrine */
/* dimensione e colore */

.vetrina {    
    height: 100vh;
    position: relative;
}

.vetrina.uno {
    background-color: red;
}

.vetrina.due {
    background-color:green;
}

.vetrina.tre {
    background-color:yellow;
}

/* centro i modelli  il 60% per dare più spazio al titolo 
in y quindi alzo la posizione dell'imm. della scarpa*/

.vetrina img {
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-60%);
}

h1 {
    width: 40%; /* Proporzionato dimensione del h1 e font per far andare a capo*/
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    text-align: center;
    color: yellow;
    font-size: 35px; /* con 35 di size e 40 di width va a capo a "di" */
}

.vetrina.tre h1 {
    color:green;
}


